.login{
  width: 400px;
  overflow: hidden;
  margin: 0 auto;
  padding: 80px;
  border-radius: 15px;
  display: grid;
  place-items: center;
  text-align: center;
}

h1, p{
  text-align: center;
}

label{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px
}

input{
  display: flex;
  flex-direction: column;
  text-align: left;
}

#Email,#Password{
  width: 300px;
  height: 30px;
  border-radius: 17px;
  padding-left: 7px;
}

button{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: white;
  background: blue;
}
