
<div class="canvas" *ngIf="userName!=''">
  <div>
    <button class="button" (click)="signOut()">Sign out</button>
    <h1>Welcome {{userName}}</h1>
    <p>click the graph to send the data to other users.</p>
  </div>
  <canvas baseChart
          [datasets]="signalRService.data"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="chartLegend"
          [type]="'bar'"
          (chartClick)="chartClicked()"></canvas>

  <br><br>

  <ul class="">
    <li *ngFor="let data of signalRService.broadcastedData">
      <strong>label: </strong> {{data.label}} - <strong> Value: </strong> {{data.data}}
    </li>
  </ul>

</div>
