.canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 670px;
}

h1{
  text-align: center;
}


button{
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: white;
  background: rgba(0, 0, 255, 0.79);
}
