.register{
  width: 400px;
  overflow: hidden;
  margin: 0 auto;
  padding: 80px;
  border-radius: 15px;
  display: grid;
  place-items: center;
  text-align: center;
}

h1, p{
  text-align: center;
}

label{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px
}

input{
  display: flex;
  flex-direction: column;
  text-align: left;
}

input.ng-dirty.ng-invalid{
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2px solid red;
}

span{
  text-align: left;
  color: rgb(199, 94, 94);
}

#Name,#Email,#Password,#Confirm{
  width: 300px;
  height: 30px;
  border-radius: 17px;
  padding-left: 7px;
}

button{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: white;
  background: blue;
}

button:disabled{
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: white;
  background: lightblue;
}

